.adminGiftDetailTableId {
  width: 21vw;
}

.adminGiftDetailTableUsername {
  width: 20vw;
}

.adminGiftDetailTableAddress {
  width: calc(95vw - 20vw - 15vw - 15vw - 4px);
}

.adminGiftDetailIsExchanged {
  width: 9vw;
}
