:root {
  --primary-color: #FDECE4;
  --secondary-color: #32A02B;
  --tertiary-color: #56412C;
  --confirmButton-color: #174b13;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  width: 100vw;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  padding-bottom: 20px;
}
