:root {
  --primary-color: #E3F2FF;
  --secondary-color: #1E95D8;
  --tertiary-color: #000000;
  --confirmButton-color: #104d70;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  width: 100vw;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  padding-bottom: 20px;
}
