:root {
  --primary-color: #fdece4;
  --secondary-color: #32a02b;
  --tertiary-color: #56412c;
}

body {
  background-color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  width: 100vw;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 100px;
  padding-bottom: 20px;
}
