.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hideDetails {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.details {
  font-weight: bold;
  line-height: 1.5;
}

.showDetailsNotice {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
