.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.hideDetails {
  width: 100%;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.details {
  width: 100%;
  font-weight: bold;
  line-height: 1.5;
  word-wrap: break-word;
}

.showDetailsNotice {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
