.giftDetailTableContainer {
  width: 95vw;
  border: 2px solid;
  border-collapse: collapse;
  margin-top: 40px;
}

td,
th {
  text-align: center;
  border-bottom: 2px solid;
  border-right: 2px solid;
  padding: 10px 5px;
}

.giftDetailTableExchangeId {
  width: 25vw;
}

.giftDetailTableGiftName {
  width: calc(95vw - 25vw - 10vw - 7vw - 8vw - 4px);
}

.giftDetailTableExchangePoint {
  width: 10vw;
}

.giftDetailTableIsExchanged {
  width: 7vw;
}

.giftDetailTableIsExchangedDate {
  width: 8vw;
}
