.giftDetailTableContainer {
  width: 95vw;
  border: 2px solid;
  border-collapse: collapse;
}

td,
th {
  text-align: center;
  border-bottom: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.giftDetailTableExchangeId {
  width: 15vw;
}

.giftDetailTableDetail {
  width: calc(95vw - 25vw - 25vw - 20vw - 4px);
}

.giftDetailTableExchangePoint {
  width: 10vw;
}

.giftDetailTableIsExchanged {
  width: 15vw;
}
