.userGiftHeader {
  font-size: 32px;
  font-weight: bolder;
  color: var(--tertiary-color);
  margin: 20px;
  margin-top: 35px;
}

.userGiftUserPoint {
  font-size: 24px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin: 10px;
}

.giftBoardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.giftBoard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 840px;
}

@media (max-width: 839px) {
  .giftBoard {
    width: 630px;
  }
}

@media (max-width: 629px) {
  .giftBoard {
    width: 420px;
  }
}

@media (max-width: 419px) {
  .giftBoard {
    width: 210px;
  }
}

.giftBoardGiftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  padding: 5px;
  margin: 10px;
  color: var(--tertiary-color);
  cursor: pointer;
}

.giftBoardGiftNameStyleOne {
  width: 170px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.giftBoardGiftNameStyleTwo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 170px;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.giftBoardGiftImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  background-color: #e6e6e6;
  overflow: hidden;
  margin: 5px;
  border-radius: 5px;
}

.giftBoardGiftImageStyleOne {
  height: 170px;
  width: 170px;
  object-fit: cover;
}

.giftBoardGiftImageStyleTwo {
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.giftBoardGiftImageStyleThree {
  width: auto;
  height: 170px;
  overflow: hidden;
  object-fit: cover;
}

.giftBoardGiftExchangePoints {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.giftDropdownContainer {
  width: 150px;
  font-size: 14px;
  margin: 5px;
  margin-bottom: 10px;
}
