.userGiftHeader {
  font-size: 32px;
  font-weight: bolder;
  color: var(--tertiary-color);
  margin: 20px;
  margin-top: 35px;
}

.userGiftUserPoint {
  font-size: 24px;
  font-weight: bold;
  color: var(--tertiary-color);
  margin: 10px;
}

.giftBoardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.giftBoard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 840px;
}

@media (max-width: 839px) {
  .giftBoard {
    width: 630px;
  }
}

@media (max-width: 629px) {
  .giftBoard {
    width: 420px;
  }
}

@media (max-width: 419px) {
  .giftBoard {
    width: 210px;
  }
}

.giftBoardGiftContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 300px; */
  width: 180px;
  padding: 5px;
  margin: 10px;
  color: var(--tertiary-color);
}

.giftBoardGiftImage {
  height: 150px;
  width: 150px;
  background-color: #ada9a9;
  overflow: hidden;
  object-fit: cover;
  margin: 5px;
}

.giftBoardGiftTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.giftBoardGiftExchangePoints {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  /* align-self: self-start; */
}

.giftDropdownContainer {
  width: 150px;
  font-size: 14px;
  margin: 5px;
  margin-bottom: 10px;
}
