.userEventHeader {
  font-size: 32px;
  font-weight: bolder;
  color: var(--tertiary-color);
  margin: 20px;
  margin-top: 35px;
}

.eventBoardContainer {
  width: 100vw;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.eventBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: var(--tertiary-color);
}

.eventName {
  width: 35vw;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  word-wrap: break-word;
}

.eventImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: #e6e6e6;
  margin-bottom: 10px;
  overflow: hidden;
}

.eventImageStyleOne {
  width: 60vw;
}

.eventImageStyleTwo {
  width: 60vw;
}

.eventImageStyleThree {
  width: 60vw;
}

@media (max-width: 630px) {
  .eventImageBox {
    width: 100vw;
    height: 65vh;
    cursor: pointer;
  }

  .eventImageStyleOne {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }

  .eventImageStyleTwo {
    width: 100vw;
    height: auto;
    max-height: 65vh;
  }

  .eventImageStyleThree {
    width: auto;
    height: 65vh;
  }
}

.eventDetailsBox {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.eventDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  cursor: pointer;
}

.eventDescription {
  font-size: 18px;
}

.eventDropdownContainer {
  width: 50vw;
  font-size: 18px;
}

.btnBox {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  flex-direction: column;
}

.btnBoxEventFulled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  border: none;
  color: white;
  font-weight: bold;
}
