.userEventHeader {
  font-size: 32px;
  font-weight: bolder;
  color: #56412c;
  margin: 20px;
}

.eventBoardContainer {
  width: 100vw;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.eventBox {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #56412c;
}

.eventImageBox {
  width: 35vw;
  min-height: 70vh;
  padding: 5px;
  background-color: #ada9a9;
  /* margin-right: 20px; */
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 630px) {
  .eventImageBox {
    width: 60vw;
    height: 40vh;
    padding: 5px;
    background-color: #ada9a9;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.eventDetailsBox {
  width: 90vw;
  display: flex;
  justify-content: center;
}

.eventDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  cursor: pointer;
}

.eventDescription {
  font-size: 18px;
}

.eventDropdownContainer {
  width: 50vw;
  font-size: 18px;
}

.btnBox {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  flex-direction: column;
}
