.topBarContainer {
  background-color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.topBarLogoContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.topBarLogo {
  margin-right: 10px;
}

.topBarLogoTitle {
  font-size: 8px;
  margin-bottom: 10px;
}

.topBarLogoImage {
  height: 30px;
}

.topBarUsernameBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topBarLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 20px;
  background-color: #32a02b;
  color: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.topBarLoginButton {
  font-weight: bold;
}
