.topBarContainer {
  position: fixed;
  top: 0;
  background-color: white;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.topBarLogoContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
}

.topBarLogo {
  margin-right: 10px;
}

.topBarLogoTitle {
  font-size: 8px;
  margin-bottom: 10px;
}

.topBarLogoImage {
  height: 30px;
}

.topBarUsernameBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.topBarLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.topBarLoginButton {
  font-weight: bold;
}

.topBarSideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100px;
  background-color: var(--secondary-color);
  color: white;
  border-left: white solid 3px;
}

.topBarSideBarIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98px;
  width: 100px;
  cursor: pointer;
  border-bottom: 2px white solid;
}

.topBarSideBarSession {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  width: 100px;
  cursor: pointer;
  border-bottom: 2px white solid;
  font-weight: bold;
}

.topBarSideBarSessionLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 80px;
  padding: 5px;
  margin: 30px 0;
  font-weight: bold;
  cursor: pointer;
}
