.eventDetailEventHeader {
  font-size: 21px;
  font-weight: bold;
  border-bottom: 2px solid;
  padding: 10px 5px;
  margin-top: 40px;
  color: var(--tertiary-color);
}

.eventDetailEventName {
  border-bottom: 2px solid;
  padding: 10px 5px;
  color: var(--tertiary-color);
}
