.eventDetailEventHeader {
  font-size: 21px;
  border-bottom: 2px solid;
  padding: 10px 5px;
  margin-top: 40px;
  color: var(--tertiary-color);
}

.eventDetailEventName {
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  padding: 10px 5px;
  color: var(--tertiary-color);
}
