.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-bottom: 30px;
}

.selectTitle {
  width: 120px;
}

.selectHeader {
  width: calc(100vw - 120px);
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
