.userInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: #56412c;
}

.userInfoProjectHeader {
  font-weight: bolder;
  font-size: 46px;
  margin: 10px;
  text-align: center;
}

.userInfoProjectSubHeader {
  font-weight: bolder;
  font-size: 46px;
  margin-bottom: 30px;
  text-align: center;
}

.userInfoPoints {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  width: 360px;
}

.userInfoWasteRecord {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  width: 360px;
}

.userInfoGap {
  height: 40px;
}
