.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
}

.registerDefaultNotice {
  font-size: 12px;
  color: red;
  width: 60vw;
}

.registerAddressTitle {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.registerBtnContainer {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registerGap {
  height: 10vh;
}
